{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}RecetasChidas{% endblock title%}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    {% block css %}
    
    {% endblock css %}
</head>
<body>
    <!-- Navbar -->
    {% if usuario and usuario.tipo == 'cliente'%}
        {% block navbar_cliente %}
        
        {% endblock navbar_cliente %}

    {% endif %}

    {% if usuario and usuario.tipo == 'administrador' %} 
        {% block navbar_admin %}
        
        {% endblock navbar_admin %}
    {% endif %}

    <main>
        {% block content %}

        {% endblock content%}
    </main>

    <footer>
        <p>&copy; 2025 RecetasChidas</p>
    </footer>
</body>
</html>
