{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}RecetasChidas{% endblock title%}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    {% block css %}
    
    {% endblock css %}
</head>
<body>
    <!-- Navbar -->
    {% if usuario and usuario.tipo == 'cliente'%}
    <nav>
        <div>
            <a href="{% url 'pagina_principal' %}">
                <img src="https://cdn-icons-png.flaticon.com/512/3075/3075977.png" alt="Logo">
            </a>
        </div>
        <div>
            <h1>Tienda Comida</h1>
        </div>
        <div>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-link text-primary p-0" style="text-decoration: none;">Cerrar Sesión</button>
            </form>
        </div>
    </nav>
    {% endif %}

    {% if usuario and usuario.tipo == 'administrador' %} 
    <nav>
        <div>
            <a href="{% url 'pagina_principal' %}">
                <img src="https://cdn-icons-png.flaticon.com/512/3075/3075977.png" alt="Logo">
            </a>
        </div>
        <div>
            <button class="nav-btn">
                <i class="fas fa-box"></i> Productos +
            </button>
        </div>
        <div>
            <h1>Tienda Comida</h1>
        </div>
        <div>
            <button class="nav-btn">
                <i class="fas fa-tags"></i> Categorías +
            </button>
        </div>
        <div>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-link text-primary p-0" style="text-decoration: none;">Cerrar Sesión</button>
            </form>
        </div>
    </nav>
    {% endif %}

    <main>
        {% block content %}

        {% endblock content%}
    </main>

    <footer>
        <p>&copy; 2025 RecetasChidas</p>
    </footer>
</body>
</html>
