{% extends "tienda/base.html" %}
{% load static %}

{% block title %}Productos{% endblock title %}

{% block css %}
  <link rel="stylesheet" href="{% static 'tienda/css/css_product_admin.css' %}">
{% endblock css %}

{% block navbar_admin %}
  <nav>
    <div class="nav-left">
      <a href="{% url "pagina_principal" %}" class="nav-link">
        <i class="fas fa-arrow-left"></i> Volver
      </a>
    </div>
    <div>
      <a href="{% url "product_admin" %}">
        <button class="nav-btn">
          <i class="fas fa-box"></i> Productos +
        </button>
      </a>
    </div>
    <div class="nav-center">
      <h1 class="nav-title">Tienda Comida</h1>
    </div>
    <div>
      <a href="{% url "category_admin" %}">
        <button class="nav-btn">
          <i class="fas fa-tags"></i> Categorías +
        </button>
      </a>
    </div>
    <div class="nav-right">
      <a href="{% url "logout" %}">
        <button class="nav-btn logout">
          <i class="fas fa-sign-out-alt"></i> Cerrar Sesión
        </button>
      </a>
      <a href="{% url "pagina_principal" %}">
        <img src="https://cdn-icons-png.flaticon.com/512/3075/3075977.png" alt="Logo" class="nav-icon" />
      </a>
    </div>
  </nav>
{% endblock navbar_admin %}

{% block content %}
  <div class="contenido">
    <div class="encabezado-agregar">
      <span>¿Desea agregar un nuevo producto?</span>
      <a href="{% url 'crear_producto' %}">
        <button class="agregar-btn"><i class="fas fa-plus"></i> Agregar</button>
      </a>
    </div>

    {% for producto in productos %}
      <div class="card">
        <img src="{{ producto.image_url }}" alt="{{ producto.nombre }}">
        <div class="card-content">
          <h2>{{ producto.name }}</h2>
          <div class="etiquetas">
            <span>{{ producto.type }}</span>
            <span>{{ producto.category.name }}</span>
            {% for dieta in producto.diets %}
              <span>{{ dieta }}</span>
            {% endfor %}
            {% for flavor in producto.flavors %}
              <span>{{ flavor }}</span>
            {% endfor %}
          </div>
          <p>{{ producto.description }}</p>
          <p><strong>Precio:</strong> ${{ producto.price }} MXN</p>
          {% if producto.type != 'comida preparada' %}
            {% for inventario in inventarios %}
              {% if inventario.product.id == producto.id %}
                <p><strong>Stock:</strong> {{ inventario.quantity }}</p>
              {% endif %}
            {% endfor %}
          {% endif %}
          
          <!-- Botones de acciones -->
          <div class="acciones">
            <a href="{% url 'edit_product' producto.id %}">
              <button class="editarbtn">
                <i class="fas fa-pen"></i> Editar
              </button>
            </a>
            <a href="{% url 'delete_product' producto.id%}" onclick="return confirm('¿Estás seguro de eliminar el producto?')">
              <button class="eliminar-btn"><i class="fas fa-trash-alt"></i> Eliminar</button>
            </a>
          </div>
        </div>
      </div>
    {% empty %}
      <p>No hay productos registrados.</p>
    {% endfor %}
  </div>
{% endblock content %}